body {
    font-family: 'Arial', sans-serif;
    background-image: url('../images/backgroundImage3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header, footer {
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
nav {
    background-color: #555;
}
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    text-decoration: none;
}
main {
    padding: 20%;
}

h1{
    text-align: center;
    color: white;
}

.textHighlight{
    color: #D4A029;
}

.indexGrid{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

.imageCard {
    flex: 1;
    width: 20%;
    max-height: 200px;
    aspect-ratio: 1 / 1;
    text-align: center;
}

.imageCard img {
    border-radius: 10px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
}

.imageCard p {
    margin-top: 10px;
    font-size: 16px;
    color: white;
}