body {
    font-family: 'Arial', sans-serif;
    background-image: url('images/indexBackground.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header, footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
nav {
    background-color: #555;
    padding: 0.5rem;
}
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    text-decoration: none;
}
main {
    padding: 20%;
    background-color:black;
}

.indexMain{

}